* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    /* background-color: #c41228; */

}

/* header */
header {
    height: 80px;
    width: 100%;
    position: fixed;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(4, 24, 54, 0.3);
}
.container_logo {
    display: flex;
    align-items: center;
}
header h2 {
    display: inline-block;
    font-size: 40px;
    color: white; 
}

i.fa-train {
    font-size: 50px;
    padding-right: 20px;
    color:#0cd977; 
}

.navbar a {
    text-decoration: none;
    padding: 0 20px;
    font-weight: bold;
    color:#0cd977; 
}

.navbar li {
    display: inline-block;
}

/* main */
.container {
    position: relative;
    height: 100vh;
    background-image: url('https://media.architecturaldigest.com/photos/56fe94952733b4f01485ce23/master/pass/train-stations-graz_08.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    width: 40%;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    background-color: rgba(4, 24, 54, 0.5);
}

.title h1, 
.title h3 {
    padding: 30px 0;
}

h1 {
    font-size: 60px;
    color: white;
}
.title h3 {
    font-size: 30px;
    color: #0cd977;
}


.calculator {
    position: absolute;
    top: 50%;
    right: 25%;
    transform: translate(-50%, -50%);
    height: 500px;
    width: 300px;
    background-color: white;
}
